/* sitewide font: arial, sans serif */

.header {}

.header-menu {}

.header-menu-text {}

.logo {}

.searchbar {}

.bar {}

.icon {}

.search {}

.lucky {}

.country {}

.footer {}

.footer-menu-left {}

.footer-menu-right {}