html {
  height: 100%;
}

body {
  background-color: #FFFFFF;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #222;
  display: flex;
  flex-direction: column;
}

header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu-container {
  width: 20%;
  padding: 10px;
  margin: -20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

div.menu-links a:link {
  font-size: 13px;
  color: #222;
  text-decoration: none;
}

div.menu-links a:hover {
  font-size: 13px;
  color: #222;
  text-decoration: underline;
}

.name-circle {
  border-radius: 50px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
}

.searchbar {
  margin-top: 30px;
  border: 1px solid #DFE1E5;
  border-radius: 25px;
  align-items: center;
  width: 580px;
  height: 25px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
}

.searchbar:focus,
.searchbar:hover {
  border: #FFFFFF;
  box-shadow: 0 1px 5px 0 #6f737b;
}

input[type="text"]:focus {
  outline: none;
}