* {
  margin: 0;
}

.header {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}

.header-menu {
  border: 1px solid #000000;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

a.header-menu-text:link {
  text-decoration: none;
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #000000;
}

a.header-menu-text:hover {
  text-decoration: underline;
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #000000;
}

.apps-image {
  display: inline;
  vertical-align: middle;
}

.name-circle {
  border-radius: 50%;
}

.logo {
  display: flex;
  justify-content: center;
}

.searchbar {}

.bar {}

.icon {}

.search {}

.lucky {}

.country {}

.footer {}

.footer-menu-left {}

.footer-menu-right {}