* {
  margin: 0;
}

.body {
  background-color: #FFFFFF;
  display: flex;
}

.header {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}

.header-menu {
  /* border: 1px solid #000000; */
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a.header-menu-text:link {
  text-decoration: none;
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #000000;
}

a.header-menu-text:hover {
  text-decoration: underline;
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #000000;
}

.apps-image {
  display: inline;
  vertical-align: middle;
  margin-top: 5px;
}

.name-circle {
  border-radius: 50%;
  margin-top: 5px;
}

.logo {
  display: flex;
  justify-content: center;
}

.searchbar {
  /* width: 900px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bar /* input[type="text"] */{
  width: 45%;
  padding: 20px;
  margin: 20px;
  border: 1px solid #D3D3D3;
  border-radius: 25px;
  box-sizing: border-box;
  font-size: 12px;
}

.bar:hover {
  box-shadow: 0 0 0 1px #D3D3D3;
}

.input [type="text"]{
  background-color: #FFFFFF;
  color: #000000;
}

.icon {}

.search {}

.lucky {}

.country {}

.footer {}

.footer-menu-left {}

.footer-menu-right {}