html {
  height: 100%;
}

body {
  background-color: #FFFFFF;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #222;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu-container {
  width: 20%;
  padding: 10px;
  margin: -20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

div.menu-links a:link {
  font-size: 13px;
  color: #222;
  text-decoration: none;
}

div.menu-links a:hover {
  font-size: 13px;
  color: #222;
  text-decoration: underline;
}

.name-circle {
  border-radius: 50px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.logo {
  display: flex;
  justify-content: center;
}

.searchbar {
  margin-top: 30px;
  border: 1px solid #DFE1E5;
  border-radius: 25px;
  align-items: center;
  width: 580px;
  height: 25px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
}

.searchbar:focus,
.searchbar:hover {
  border: #FFFFFF;
  box-shadow: 0 1px 5px 0 #6f737b;
}

input[type="text"]:focus {
  outline: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.button {
  background-color: #F8F9FA;
  border: 1px solid #F8F9FA;
  border-radius: 4px;
  color: #222;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 5px;
  cursor: pointer;
}

.button:hover {
  border: 1px solid #DFE1E5;
}

footer {
  width: 100%;
  padding: 20px;
  background-color: #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #C0C0C0;
  align-self: flex-end;
}

.left-links {
  box-sizing: border-box;
  width: 30%;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.right-links {
  box-sizing: border-box;
  width: 20%;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

div.footer-links a:link {
  font-size: 14px;
  text-decoration: none;
  color: #808080
}

div.footer-links a:hover,
div.footer-links a:visited {
  font-size: 14px;
  text-decoration: underline;
  color: #808080
}

@media (max-width: 660px) {
  header {
    justify-content: center;
    margin-bottom: 70px;
  }
  
  .searchbar {
    width: 80%
  }

  .menu-container {
    width: 100%;
    justify-content: space-around;
  }

  footer {
    padding: 3em;
    flex-direction: column;
    justify-content: center;
  }

  .left-links {
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-left: 85px;
  }

  .right-links {
    width: 100%;
    box-sizing: border-box;
    align-self: center;
    margin-left: 65px;
  }
}